doctype html
html
  head
    title= title
    meta( name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/smoothness/jquery-ui-1.8.13.custom.css')

    - if (stream)
        script(src='js/jquery.min.js')
        script(src='socket.io/socket.io.js')
        script(src='js/jquery.hotkeys.js')
        script(src='js/jquery-ui.js')
        script(src='js/jquery.backstretch.js')
        script.
          jQuery.browser = {}; (function () { jQuery.browser.msie = false; jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) { jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1; } })();
        script(src='js/jquery.ba-bbq.min.js')
        script(src='js/app.js')

  body
    header(class='screen')
      img(alt="Wikipedia globe", src="images/wikipedia.png")
      div(class='wikistream')
        a(href="/") wikistream
      div(class='pauseInfo') Press "p" to pause

    header(class='mobile')
      strong
        a(href="/") wikistream

    a(id="github", target="_blank", href="http://github.com/toolforge/wikistream")
      img(style="position: absolute; top: 0; right: 0; border: 0; z-index: 3;", src="https://tools.wmflabs.org/static/res/logos/forkme_right_darkblue.png", alt="Fork me on GitHub")
    br
    div(id="content")
      block content
